@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.main-container {
    display: flex;
    flex-direction: column; 
    align-items: left;
    background-color: #CEE5F2;
    height: 400px;
}

.main-container h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Black Ops One', cursive; 
    font-size: 20px;
    padding-left: 20px;
}

.main-container h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    padding-left: 20px;
}

.main-container p {
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    padding-left: 20px;
}

.main-container img {
    width: 400px;
    height: 200px;
    margin-top: -40px;
    padding-bottom: 20px;
}